



:root{
    --background: #a1b1ce;
    --dark-blue: #6f85ae;
    --yellow: #f4ae90;
    --dark-yellow: #bb8063;
    --main-font: #010101;

}

/* main */
html {
    scroll-behavior: smooth;
  }

body{
    background-color: var(--background);
    color: var(--main-font);
    font-family: 'Nunito', sans-serif;
   /* font-family: 'Playfair Display', serif;*/
}

.poppins{
    font-family: 'Nunito', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
}




/*average */ 

.button {   
    
    color:var( --dark-grey);
    background-color:  var(--main-font); 
    
    padding: 15px 40px 15px;
    margin:10px;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
    outline: none;
    transition: all 0.5s ease-in-out; 


}

.button:hover {
    background-color: var(--dark-grey);
    color:var(--main-font); 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

.bg-1{
    background-color: var(--dark-grey);

}








/* additional */
.larger {
    font-size:23px;
}

/* 
.first-container{
    background-image: url('background.jpeg')
}
 */




