:root{
    --background: #33373c;
    --main-font: #e4e4ec;
    --hover: #4e6165;
    --light: #e6e5e5;
    --grey: #b1b8be;
    --dark-grey: #1c2329;
}

/* main */
html {
    scroll-behavior: smooth;
  }

body{
    background-color: var(--background);
    color: var(--main-font);
    font-family: 'Nunito', sans-serif;
    font-family: 'Playfair Display', serif;
}

.poppins{
    font-family: 'Nunito', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
}

article{
    color: var(--dark-grey);
    
}


/*average */ 

.button {   
    font-style: italic;
    background-color: rgb(255, 255, 255);
    color: var(--red-color);
    padding: 15px 40px 15px;
    margin:10px;
    text-align: center;
    font-weight: 700;
    border-radius: 10px;
    outline: none;
    transition: all 0.2s ease-in-out; 


}

.button:hover {
    color:rgb(255, 255, 255);
    background-color:   var(--red-color);
    cursor: pointer;
}






/* additional */
.larger {
    font-size:23px;
}


.first-container{
    background-image: url('background.jpeg')
}


.background-light{
    background-color: var(--light);
    color: var(--dark-grey);
}

.sculpture{
    width: 100%;
    height: 100%;
    padding-bottom: 100%;
    object-fit: cover;
    background-position: center;

}

.sculpture:hover{
	opacity: .5;
    transition: 0.5s;
    cursor: pointer;
}