:root{
    --background: #33373c;
    --main-font: #e4e4ec;
    --font: #b1b8be;
}


body{
    background-color: var(--background);
    color: var(--main-font);
    font-family: 'Nunito', sans-serif;
    font-family: 'Playfair Display', serif;
}

.navbar{
    font-family: 'Nunito', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
}

.larger {
    font-size:23px;
}