





:root{
    --light1-blue:#e7f3fae5;
    --light-blue: #DBEBF5;
    --blue: #7C91A5;
    --yellow: #D7AA6D;
    --pink: #D7AB99;
    --main-font: #000;
    --dark-blue: #446079;
    

}

/* main */
html {
    scroll-behavior: smooth;
  }

body{
    /*
   
    color: var(--main-font);
    */
    background-color: var(--light1-blue);
    font-family: 'Nunito', sans-serif;
    font-family: 'Playfair Display', serif;
}

.poppins{
    font-family: 'Nunito', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
}


a{
    color:var(--main-font);
    font-style: italic;
}

a:hover{
    color:var(--dark-blue);
    font-style: italic;
}


div.part1{
    height: 200px;
    border: 1px solid black;
    }



.button {
    color:white;
    background-color:  var(--main-font); 
        
    padding: 15px 40px 15px;
    margin:10px;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
    outline: none;
    transition: all 0.5s ease-in-out; 
    
    }












/*average */ 



.button:hover {
    background-color: var(--dark-grey);
    color:var(--main-font); 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

.sculpture{
    width: 100%;
    height:100%;
    
    object-fit: cover;
    background-position: center;

}

.sculpture:hover{
	opacity: .5;
    transition: 0.5s;
    cursor: pointer;
}







/*additional */


.larger {
    font-size:23px;
}


.first-container{
    background-image: url('background.jpeg')
}


.background-light{
    background-color: var(--light);
    color: var(--dark-grey);
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  
@media screen and (max-width: 600px) {
    .smaller{
        font-size: smaller;
        margin:5px;
        padding: 5px;
    }
  }


